@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css?family=Lato');

.logo {
    width: 100%;
    height: 200px;
}

.login-register {
    background: #57a89a;
    margin-bottom: 20px;
}

.primary-button {
    background: #57a89a;
}

